name: MLflow CI Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train-and-build:
    runs-on: ubuntu-latest

    steps:
    - name: Set up job
      run: echo "Start CI Pipeline"

    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Check environment
      run: |
        python --version
        pip --version

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install mlflow dagshub scikit-learn pandas seaborn matplotlib

    - name: Set MLflow Tracking URI
      run: |
        echo "MLFLOW_TRACKING_URI=https://dagshub.com/${{ github.repository }}.mlflow" >> $GITHUB_ENV

    - name: Run MLflow Project
      env:
        DAGSHUB_USER_TOKEN: ${{ secrets.DAGSHUB_USER_TOKEN }}
      run: |
        cd MLProject
        mlflow run .

    - name: Get latest MLflow run_id
      run: |
        RUN_ID=$(ls mlruns/*/*/meta.yaml | tail -n 1 | awk -F'/' '{print $(NF-1)}')
        echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV

    - name: Build Docker Model
      run: |
        mlflow models build-docker \
          -m runs:/$RUN_ID/RandomForest_Baseline_Model \
          -n customer-churn-model

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Tag Docker Image
      run: |
        docker tag customer-churn-model ${{ secrets.DOCKERHUB_USERNAME }}/customer-churn-model:latest

    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/customer-churn-model:latest

    - name: Complete job
      run: echo "CI Pipeline Completed Successfully"
